
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Farmapp</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
                    
            <div class="header-content-inner">
              <h1 class="titulo_principal">Farmapp</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
              <div class="input-group col-md-6 col-md-offset-3"> 
                <input type="text" class="form-control" placeholder="What are searching for?">
                  <span class="input-group-addon btn btn-primary"><span class="fa fa-search"></span></span>
               </div>
              <br><br>
              
            </div>
        </div>
    </header>

    <section class="bg-primary">
        <div class="container">
            <div class="row">
               <div class="col-md-6">
                         <%= image_tag 'celu.png',height: '450' %>
               </div>
               <div class="col-md-offset-3 text-center">
                 <div>
                   <h2 class="section-heading">Busca nuestra app!</h2>
                    <hr class="light">
                   <br>
                   <%= image_tag 'FarmappLogoSolo.png', height:'220'%>
                 <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                 </div>
                 
                </div>
            </div>
        </div>
    </section>
    
<section id="about">
  <div class="container">
     <div class="col-md-6 col-md-offset-4">
       <%= image_tag 'wildlogo.png', height: '350' %>
     </div>
  </div>
</section>

