<section id="busqueda">
  <div class="container">
    <div class="header-content">
     <div class="header-content-inner">
         <div class="col-md-6 col-md-offset-1">
       <%= image_tag 'FarmappLogoSolo.png', height: '180' %>
     </div>
     <div>
       <h1 class="titulo_principal">Farmacia más cercana</h1>
     <hr>
     </div>
      </div>
    </div>
   
 </div>
   <br><br><br>
    <div class="container">
      <div id="map">
      </div>
    </div>  
</section>

<script>
  var map;
  var infowindow;

  function initMap() {
    
    if ("geolocation" in navigator) {
      
    } else {
      
    }
    
    var pyrmont = {lat: 14.048093, lng: -87.173986 };

    map = new google.maps.Map(document.getElementById('map'), {
      center: pyrmont,
      zoom: 15
    });

    infowindow = new google.maps.InfoWindow();

    var service = new google.maps.places.PlacesService(map);
    service.textSearch({
      location: pyrmont,
      radius: '500',
      query: 'farmacia'
    }, callback);
  }

  function callback(results, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }

  function createMarker(place) {
    var placeLoc = place.geometry.location;
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(place.name);
      infowindow.open(map, this);
    });
  }

</script>

<style>
  #map {
    height: 500px;
    color: black;
  }
</style>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDde72KW2j3dLlBjRYH-YTcw_FIfJZYiVQ&signed_in=true&libraries=places&callback=initMap" async defer></script>

