.titulo_principal{
  color: #FAFAFA;
  text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
  font-size: 43px;
 }
#about{
  background-color:#80D639;
}

.texto{
  padding-top: 2px;
}

#busqueda{
  background-color: #34495e;
  color:#FAFAFA;
}
#contact{
  background-color: #34495e;
  color:#FAFAFA;
  
}
